*{
    z-index: 3;
    overflow-x: hidden;
}
body{
    margin-top: 0;
}

/* <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name*/

*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;*/
}

header{
    /*margin-inline: 1px;*/
    top:0;
    position: absolute;
    z-index: 30;
    left: -8px;
    width: calc(100% + 16px);
    height: 15vh;
    padding-top:1vh;
    /*background-color: rgba(230, 230, 230, 0.288);
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.623);
    border-width: 0.1vh;*/
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 5%, rgba(255, 255, 255, 0) 100%);
    
    color:rgb(255, 255, 255);
    /*backdrop-filter: blur(3px);*/
    
}
header p{
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 3vw;
    font-weight: 300;
    padding-inline: 5vw;
}
header h1{
    padding-inline: 5vw;
    font-size: 7vw;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 0.5vh;
}
img{
    position: absolute;
    z-index: -1;
   top:0;
    width: 95%;
    display:flex;
    animation-name: rotacion;
    animation-iteration-count: infinite;
    animation-duration: 9s;
     animation-timing-function: linear;
}
@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#toca{
    animation: leve-rot;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: linear;
}

@keyframes leve-rot {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
     0% {
        transform: rotate(0deg);
    }
}

iframe{
    margin-top: 25vh;
}

#recomendaciones{
    margin-top: 2vh;
    width: 100%;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgba(212, 212, 212, 0.623);
    border-width: 1px;
}
.thyo{
    background-color: rgba(230, 230, 230, 0.664);
}
.thyo, .tdyo{
    text-align: left;
    border: 1px solid rgba(212, 212, 212, 0.623);
}