*{
    z-index: 3;
    overflow-x: hidden;
}


/* <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name*/

*{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;*/
}

header{
    /*margin-inline: 1px;*/
    margin-block: 3vh;
    background-color: rgba(230, 230, 230, 0.664);
    border-radius: 0.5em;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.623);
    border-width: 1px;
    padding-inline: 2vw;
    color:rgb(29, 29, 29);
    backdrop-filter: blur(3px);
    
}
header p{
    margin-top: 1px;
    margin-bottom: 5px;
    font-size: 11pt;
}
header h1{
    margin-top: 5px;
    margin-bottom: 0.5vh;
}
img{
    position: absolute;
    z-index: -1;
   top:0;
    width: 97%;
    display:flex;
    animation-name: rotacion;
    animation-iteration-count: infinite;
    animation-duration: 9s;
     animation-timing-function: linear;
}
@keyframes rotacion {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
#toca{
    animation: leve-rot;
    animation-iteration-count: infinite;
    animation-duration: 9s;
    animation-timing-function: linear;
}
@keyframes leve-rot {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
     0% {
        transform: rotate(0deg);
    }
}

iframe{
    margin-top: 10vh;
}

#recomendaciones{
    margin-top: 2vh;
    width: 100%;
    border-collapse: collapse;
    border-style: solid;
    border-color: rgba(212, 212, 212, 0.623);
    border-width: 1px;
}
.thyo, .tdyo{
    text-align: left;
    border: 1px solid rgba(212, 212, 212, 0.623);
}